@media (max-width: 1079px) {
    .news{
        grid-template-columns: repeat(2,1fr) !important;
    }
    .footer{
        grid-template-columns: repeat(3,1fr) !important;
    }
    .section{
        margin: 3rem 1rem !important;
    }
    .header .contents{
        box-shadow:5px 5px 5px #8b8b8b;
        width: 95% !important;
        margin: -5rem 1rem !important;
        background-color: #fff;
        padding: 1rem;
    }
    .big-img-1 .contents{
        box-shadow:5px 5px 5px #8b8b8b;
        width: 95% !important;
        margin: 27rem 1.5rem !important;
        background-color: #fff;
        padding: 1rem;
    }
    .big-img-1 .contents *{
        color: #000000;
    }
    .end-footer{
        display: none !important;
    }
    .items{
        grid-template-columns: repeat(3,auto) !important;
        gap: 2rem;
    }
    .nav-l{
        display: none !important;
    }
}
@media (max-width:858px) {
    .header img{
        height: 20rem !important;
    }
    .header .contents{
        width: 100% !important;
        margin: 0 !important;
    }
    .big-img-1 img{
        height: 20rem !important;
    }
    .big-img-1 .contents{
        width: 100% !important;
        margin: 20rem 0 !important;
        font-size: .7rem;
    }!
}
